<!-- SLIDE SHOW BEGIN   -->
<p style="text-align: center;font-size: 50px;"><%= link_to "OneiricNews", root_path, :class => 'brand' %></p>
<%= render 'home/slideshow' %>
<!-- SLIDE SHOW END   -->
<%= render 'home/frontpage' %>









